/* Style for the page. */

body {
  background-color: #f7f7f7;
  font-family: Arial;
  width: 400px;
  padding: 15px;
}

.question-type-selector {
  padding-bottom: 15px;
}

.toggle-choice {
  display: inline-block;
  border: 1px solid #222;
  width: 65px;
  height: 22px;
  text-align: center;
  cursor: pointer;
}

.choice-1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.choice-2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selected-choice {
  background-color: #4374c1;
  color: #f7f7f7;
}

.instructions {
  border-bottom: 1px solid #222;
}

.question-area {
  margin-top: 20px;
  width: 250px;
}

.question-image {
  height: 100px;
}

.answer {
  display: inline-block;
  padding: 25px 0px;
  height: 25px;
  width: 100px;
  border: 1px solid #222;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin: 10px;
}

.correct {
  background-color: #b3ffaf;
}

.incorrect {
  background-color: #ffa09c;
}

.hidden {
  display: none;
}